doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title using pug
  body
    input(id="artist", type="text")
    button(id="button", type="submit") getArtist
    div
    br
    select(id="departamento" value="")
    select(id="provincia" value="")
    select(id="distrito" value="")
    //img(src="../assets/FY.jpg", alt="" id="prueba")
    //img(src="../assets/anotherone/holi.jpg", alt="")
    //img(src="../assets/homer-simpson.svg", alt="")
    //img(src="../assets/tux.png", alt="")
    form(action="")
      input(type="text" name="input")
      a(id="boton") apachurrame