doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title using pug
  body
    label(for="departamento") departamento
    select(id="departamento" value="")
    label(for="provincia") provincia
    select(id="provincia" value="")
    label(for="distrito") distrito
    select(id="distrito" value="")
    img(src="../assets/anotherone/homer-simpson.svg", alt="" width="100px")
    img(src="../assets/tux.png", alt="" width="100px")