doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title using pug
  body
    input(id="artist", type="text")
    button(id="button", type="submit") getArtist
    div
    br
    select(id="departamento" value="")
    select(id="provincia" value="")
    select(id="distrito" value="")
    img(src="../assets/anotherone/homer-simpson.svg", alt="" width="100px")
    img(src="../assets/tux.png", alt="" width="100px")