doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title using pug
  body
    div(class='something')
    h1 HOLA SOY N H1 EQUIS DE LOL LMFAO
    input(id="artist", type="text")
    button(id="button", type="submit") getArtist
    br
    select(id="departamento" value="")
    select(id="provincia" value="")
    select(id="distrito" value="")

    
