doctype html
html(lang="en")
  head
    title using pug
  body
    input(id="artist", type="text")
    button(id="button", type="submit") getArtist
    br
    select(id="departamento" value="")
    select(id="provincia" value="")
    select(id="distrito" value="")
    img(src="../assets/FY.jpg", alt="")
    img(src="../assets/anotherone/holi.jpg", alt="")
    img(src="../assets/homer-simpson.svg", alt="")
    img(src="../assets/tux.png", alt="")